<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
  <title>Listbox Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

  <label for="listbox">Select an Animal:</label>
  <div role="listbox" id="listbox">
    <div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Lion')" tabindex="0" aria-selected="true">Lion</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Tiger')" tabindex="-1">Tiger</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Elephant')" tabindex="-1">Elephant</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Zebra')" tabindex="-1">Zebra</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Giraffe')" tabindex="-1">Giraffe</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Bison')" tabindex="-1">Bison</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Leopard')" tabindex="-1">Leopard</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Jaguar')" tabindex="-1">Jaguar</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Panther')" tabindex="-1">Panther</div>
      <div role="option" ng-keydown="handleKeydown($event)" ng-click="selectOption('Hulk')" tabindex="-1">Hulk</div>
    </div>
  </div>

  <p aria-live="polite">You selected: {{ selectedItem }}</p>

  <script>
    angular.module('myApp', [])
      .controller('myController', function($scope) {
        $scope.selectOption = function(item) {
          $scope.selectedItem = item;
        };
        $scope.selectedItem = document.querySelector('div[tabindex="0"]').innerHTML;
        $scope.handleKeydown = function(event) {
          let target = event.target;
          if (event.key === "ArrowDown") {
            target.setAttribute('aria-selected', "false");
            target.setAttribute("tabindex", "-1");
            let nextTarget = target.nextElementSibling;
            if (nextTarget) {
              nextTarget.setAttribute('aria-selected', "true");
              nextTarget.setAttribute('tabindex', "0");
              nextTarget.focus();
              $scope.selectedItem = nextTarget.innerHTML;
            } else {
              target.setAttribute('aria-selected', "true");
              target.setAttribute("tabindex", "0");
            }
          }
          if (event.key === "ArrowUp") {
            target.setAttribute('aria-selected', "false");
            target.setAttribute("tabindex", "-1");
            let prevTarget = target.previousElementSibling;
            if (prevTarget) {
              prevTarget.setAttribute('aria-selected', "true");
              prevTarget.setAttribute('tabindex', "0");
              prevTarget.focus();
              $scope.selectedItem = prevTarget.innerHTML;
            } else {
              target.setAttribute('aria-selected', "true");
              target.setAttribute("tabindex", "0");
            }
          }
        };
      });
  </script>
</body>
</html>
